@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: url(../img/bg.png) no-repeat center/cover;
  font-family: "Montserrat", sans-serif;
  background-attachment: fixed;
}

:focus {
  outline: none;
}

button {
  cursor: pointer;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 170px 30px;
}

.main__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1574px;
  width: 100%;
  min-height: 787px;
  background: #FFFFFF;
  position: relative;
}

.form_close {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 2;
  width: 32px;
  height: 32px;
  background: #DC2F2F;
  border: 0;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form_close::after {
  content: "";
  width: 15px;
  height: 2px;
  background: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.form_close::before {
  content: "";
  width: 15px;
  height: 2px;
  background: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.form_close:hover {
  opacity: 1;
}

.form_aside {
  width: calc(100% - 1116px);
  background: #2B3A44;
  padding: 32px 15px 32px 60px;
}

.aside_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.aside_steps .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}
.aside_steps .step .num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 40px;
  width: 40px;
  height: 40px;
  margin-right: 16px;
  border: 2px solid #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2B3A44;
}
.aside_steps .step .title {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}
.aside_steps .step.done .num {
  background: #1F2B32;
  border: 2px solid #1F2B32;
  color: #FFFFFF;
}
.aside_steps .step.active .num {
  background: #DC2F2F;
  border: 2px solid #DC2F2F;
  color: #FFFFFF;
}

.form_content {
  width: 1116px;
  padding: 40px 30px 66px 40px;
  position: relative;
}
.form_content .img {
  width: 160px;
  height: 100px;
  background: #D9D9D9;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}
.form_content .img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
.form_content .img2 {
  width: 226px;
  height: 142px;
}
.form_content .h5 {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #2B3A44;
  margin-bottom: 16px;
}
.form_content .wrap {
  margin-bottom: 16px;
}
.form_content .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form_content .box .wrap {
  width: 50%;
}

.lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 42px;
}
.lines .line {
  width: 122px;
  height: 2px;
  background: #D9D9D9;
}
.lines .line.active {
  background: #DC2F2F;
}

.form_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #2B3A44;
  margin-bottom: 32px;
}

.form_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 36px;
  right: 40px;
}
.form_buttons .btn_prev {
  height: 50px;
  border: 2px solid #999999;
  border-radius: 4px;
  padding: 0px 60px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #999999;
  background: transparent;
  margin-right: 24px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.form_buttons .btn_prev:hover {
  background: #999999;
  color: #FFFFFF;
}
.form_buttons .btn_next {
  height: 50px;
  background: #DC2F2F;
  border-radius: 4px;
  padding: 0px 60px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  border: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.form_buttons .btn_next:hover {
  background: #c41b1b;
}
.form_buttons .btn_prev.none, .form_buttons .btn_next.none {
  display: none;
}

.form_buttons.none {
  display: none;
}

.wrap_22 .box_wrap {
  max-width: 33%;
  width: 100%;
}
.wrap_22 .box_wrap .radio_wrap {
  width: 100%;
}

.box_wrap .left {
  max-width: 195px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #1E1E1E;
}
.box_wrap .left p {
  margin-top: 16px;
}

.box_wrap .center {
  max-width: 214px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #1E1E1E;
}
.box_wrap .center h6 {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #1E1E1E;
  margin-top: 16px;
}
.box_wrap .center .color {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn_color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100px;
  width: 100%;
  height: 27px;
  border: 1px solid #999999;
  border-radius: 4px;
  background: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #999999;
}

.box_wrap .right {
  padding-left: 24px;
  padding-top: 16px;
}
.box_wrap .right a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #6E1717;
}

.radio_wrap {
  position: relative;
  margin-right: 50px;
  margin-bottom: 10px;
}
.radio_wrap input {
  position: absolute;
  opacity: 0;
}
.radio_wrap label {
  cursor: pointer;
}
.radio_wrap .label {
  position: relative;
  padding-left: 32px;
}
.radio_wrap .label .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 24px;
  max-width: 251px;
  width: 100%;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #2B3A44;
}
.radio_wrap .label::after {
  content: "";
  width: 24px;
  height: 24px;
  background: #FFFFFF url(../img/check.svg) no-repeat center;
  border: 1px solid #999999;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.radio_wrap input:checked + label .label::after {
  background: #DC2F2F url(../img/check.svg) no-repeat center;
  border-color: #DC2F2F;
}
.radio_wrap input:checked + label .label .text {
  color: #6E1717;
}

.wrap_4 .radio_wrap {
  margin-right: 40px;
}

.wrap_7 .radio_wrap {
  margin-right: 24px;
}

.wrap_8 .radio_wrap, .wrap_9 .radio_wrap {
  margin-right: 15px;
}

.wrap_18 .radio_wrap .label .text {
  max-width: 100%;
}

.wrap_19 .radio_wrap .label .text {
  max-width: 290px;
}

.wrap_22 .radio_wrap {
  width: 30%;
  margin: 0;
}

.wrap_27 .radio_wrap .label .text {
  max-width: 280px;
}

.form_block_contacts .btn {
  height: 50px;
  position: absolute;
  bottom: 37px;
  right: 40px;
  z-index: 2;
  padding: 0px 43px;
  background: #DC2F2F;
  border-radius: 4px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  border: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.form_block_contacts .btn:hover {
  background: #c41b1b;
}
.form_block_contacts .wrap {
  max-width: 920px;
  width: 100%;
  margin-left: -16px;
}
.form_block_contacts .form_title {
  margin-bottom: 62px;
}
.form_block_contacts .box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form_block_contacts .textarea textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 239px;
  min-height: 239px;
  max-height: 239px;
  background: #FFFFFF;
  border: 1px solid #C9CED7;
  border-radius: 4px;
  padding: 24px 28px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #1E1E1E;
}
.form_block_contacts .textarea textarea::-webkit-input-placeholder {
  color: #1E1E1E;
}
.form_block_contacts .textarea textarea::-moz-placeholder {
  color: #1E1E1E;
}
.form_block_contacts .textarea textarea:-ms-input-placeholder {
  color: #1E1E1E;
}
.form_block_contacts .textarea textarea::-ms-input-placeholder {
  color: #1E1E1E;
}
.form_block_contacts .textarea textarea::placeholder {
  color: #1E1E1E;
}
.form_block_contacts .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 57px;
  position: relative;
}
.form_block_contacts .check input {
  min-width: 18px;
  width: 18px;
  height: 18px;
  margin-right: 13px;
  opacity: 0;
  position: relative;
  z-index: -9;
}
.form_block_contacts .check label {
  max-width: 650px;
  width: 100%;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #1E1E1E;
  cursor: pointer;
}
.form_block_contacts .check label a {
  color: #DC2F2F;
}
.form_block_contacts .check label::after {
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid #999999;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #FFFFFF url(../img/check.svg) no-repeat center;
  background-size: 60%;
}
.form_block_contacts .check input:checked + label::after {
  background: #DC2F2F url(../img/check.svg) no-repeat center;
  border-color: #DC2F2F;
  background-size: 60%;
}

.input_text {
  width: 446px;
}
.input_text input {
  width: 100%;
  height: 55px;
  background: #FFFFFF;
  border: 1px solid #C9CED7;
  border-radius: 4px;
  margin-bottom: 24px;
  padding: 0 28px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #1E1E1E;
}
.input_text input::-webkit-input-placeholder {
  color: #1E1E1E;
}
.input_text input::-moz-placeholder {
  color: #1E1E1E;
}
.input_text input:-ms-input-placeholder {
  color: #1E1E1E;
}
.input_text input::-ms-input-placeholder {
  color: #1E1E1E;
}
.input_text input::placeholder {
  color: #1E1E1E;
}

.form_block {
  display: none;
}

.form_block.active {
  display: block;
}

@media screen and (max-width: 1550px) {
  .form_aside {
    padding: 30px;
  }
}
@media screen and (max-width: 1450px) {
  .form_aside {
    width: calc(100% - 900px);
  }
  .form_content {
    width: 900px;
  }
  .lines .line {
    width: 90px;
  }
}
@media screen and (max-width: 1250px) {
  .main {
    padding: 0;
  }
}
@media screen and (max-width: 1200px) {
  .form_aside {
    width: 320px;
  }
  .form_content {
    width: calc(100% - 320px);
    padding: 30px;
    padding-bottom: 100px;
  }
  .lines .line {
    width: 100%;
    margin: 0 5px;
  }
  .main__form {
    min-height: 100vh;
  }
}
@media screen and (max-width: 768px) {
  .form_aside {
    display: none;
  }
  .form_content {
    width: 100%;
    padding: 42px 15px 100px 15px;
  }
  .lines .line {
    margin: 0 2px;
  }
  .lines {
    margin-bottom: 22px;
  }
  .form_title {
    margin-bottom: 19px;
  }
  .form_content .h5 {
    margin-bottom: 24px;
  }
  .radio_wrap {
    width: 100%;
    margin: 0;
    margin-bottom: 28px;
  }
  .form_content .wrap {
    margin-bottom: 0;
  }
  .form_content .box .wrap {
    width: 100%;
  }
  .wrap_22 .radio_wrap {
    width: 100%;
    margin-bottom: 28px;
  }
  .form_block_contacts .form_title {
    margin-bottom: 36px;
  }
  .form_content .wrap {
    margin: 0;
  }
  .wrap_22 .box_wrap {
    max-width: 100%;
  }
  .box_wrap .left, .box_wrap .center {
    margin-bottom: 32px;
  }
  .box_wrap .right {
    padding-top: 0;
    padding-bottom: 24px;
  }
  .input_text input {
    margin-bottom: 22px;
  }
  .form_block_contacts .check {
    margin-top: 34px;
  }
  .form_block_contacts .btn {
    bottom: 34px;
    right: auto;
    left: 19px;
  }
  .form_buttons {
    left: 15px;
    right: 15px;
    bottom: 34px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form_buttons .btn_prev {
    width: 48%;
    padding: 0;
  }
  .form_buttons .btn_next {
    width: 48%;
    margin-left: auto;
    padding: 0;
  }
}